*, *::before, *::after {
    box-sizing: border-box;
}
body {
	font-family: system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
    font-size: 1.5rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
  text-align: center;
}
.inputs {
    display: flex;
    gap: 1em;
}
button {
    min-width: 8rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
span {
    font-size: 150%;
    font-weight: bold;
}
.scores {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
}
.play, .history {
    border: 1px solid #6b6a6b;
    padding: 1rem 2rem;
    min-width: 280px;
    max-width: 30%;
    box-sizing: border-box;
}